<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Stream</title>
    <style>
        .container{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(177, 255, 255);
            color: rgb(7, 7, 7);
            text-align: center;
        }
    </style>
</head>
<body class = "container">
    <h1>Live video</h1>
    <img src="{{ url_for('video_feed') }}">
</body>
</html>

